sintax/defaultContacts.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://com.ibm.wbit.comptest.controller" elementFormDefault="qualified"
            xmlns="http://com.ibm.wbit.comptest.controller" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:element name="Contacts">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="Persona" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

    <xsd:element name="Contact">
        <xsd:complexType>
            <xsd:sequence>

                <xsd:element name="Credentials">
                    <xsd:complexType>
                        <xsd:sequence>

                            <xsd:element maxOccurs="1" type="xsd:string" name="name"/>
                            <xsd:element maxOccurs="1" type="xsd:string" name="surname"/>
                            <xsd:element maxOccurs="1" type="xsd:string" name="address"/>

                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Phone">
                    <xsd:complexType>
                        <xsd:sequence>

                            <xsd:element name="number" minOccurs="1" maxOccurs="unbounded">
                                <xsd:complexType>
                                   <xsd:simpleContent>
                                       <xsd:restriction base="xsd:string">
                                           <xsd:simpleType>
                                               <xsd:restriction>
                                                   <xsd:pattern value="[0-9\s\-]{7,20}"/>
                                               </xsd:restriction>
                                           </xsd:simpleType>
                                           <xsd:attribute name="tipo">
                                               <xsd:simpleType>
                                                   <xsd:restriction base="xsd:string">
                                                       <xsd:enumeration value="Home"/>
                                                       <xsd:enumeration value="Oggice"/>
                                                       <xsd:enumeration value="Personal"/>
                                                       <xsd:enumeration value="Else..."/>
                                                   </xsd:restriction>
                                               </xsd:simpleType>
                                           </xsd:attribute>
                                           <xsd:attribute name="prefix" type="xsd:string">
                                               <xsd:simpleType>
                                                   <xsd:restriction base="xsd:string">
                                                       <xsd:pattern value="(\+)?[0-9]{1,4}"/>
                                                   </xsd:restriction>
                                               </xsd:simpleType>
                                           </xsd:attribute>
                                       </xsd:restriction>
                                   </xsd:simpleContent>
                                </xsd:complexType>
                            </xsd:element>

                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element name="Email">
                    <xsd:complexType>
                        <xsd:sequence>

                            <xsd:element name="mail" minOccurs="1" maxOccurs="unbounded">
                                <xsd:simpleType>
                                    <xsd:restriction base="xsd:string">
                                        <xsd:pattern value="[A-Za-z0-9._%+-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,}"/>
                                    </xsd:restriction>
                                </xsd:simpleType>
                            </xsd:element>

                        </xsd:sequence>
                    </xsd:complexType>
                </xsd:element>

                <xsd:element type="xsd:string" minOccurs="1" name="Site"/>

            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>

</xsd:schema>

