sintax/defaultRubrica.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema targetNamespace="http://com.ibm.wbit.comptest.controller"
            xmlns:Q1="http://com.ibm.wbit.comptest.controller" xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <xsd:complexType name="Persona">
        <xsd:sequence>
            <xsd:element type="xsd:string" name="name"/>
            <xsd:element type="xsd:string" name="surname"/>
        </xsd:sequence>
    </xsd:complexType>

</xsd:schema>

